<script>window.g_config={appId:10,toolbar:false};</script>
<!-- start vmc js 3.1--><script src="http://a.tbcdn.cn/??s/kissy/1.2.0/kissy-min.js,p/global/1.0/global-min.js,s/yui/3.4.1/build/yui/yui-min.js,app/dp/insure/autopub/js/addmojo.js"></script><!-- end vmc js 3.1 --> 
<!-- start vmc css 3.1--><link rel="stylesheet" href="http://a.tbcdn.cn/??p/global/1.0/global-min.css,app/dp/insure/autopub/css/common.css" /><!-- end vmc css 3.1-->
<script type="text/javascript">
g_hb_monitor_st=+new Date;
INS.use('hubble',function(Y){Y.Hubble.init({pageId:30050});});
</script>
<!--[if IE]>
<script src="http://a.tbcdn.cn/app/dp/insure/autopub/js/html5.js"></script>
<![endif]-->
